<html>
  <div class="text-black font-sans" style="font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; color: #000;">
    <div class="relative flex h-fit" style="position: relative; display: flex; height: -moz-fit-content; height: fit-content;">
      <img class="max-h-36" src="https://rlugo14.com/images/logo.png" style="max-height: 144px;">
      <div class="flex flex-col justify-between" style="display: flex; flex-direction: column; justify-content: space-between;">
          <h1 class="m-0" style="margin: 0;">Raul Lugo</h1>
          <h3 class="m-0" style="margin: 0;">Software Engineer</h3>
        <div class="flex items-center leading-0" style="display: flex; align-items: center;">
          <p>Backend 👨‍💻</p>
          <p>|</p>
          <p>Frontend 🖥️</p>
          <p>|</p>
          <p>Mobile 📱</p>
          <p>|</p>
          <p>Cloud ☁️</p>
        </div>
        <div class="flex items-center leading-0" style="display: flex; align-items: center;">
            <p>📞</p>
            <a href="tel:+491782879674">+49 178 28 79 174</a>
            <p>|</p>
            <p>✉️</p>
            <a href="mailto:info@rlugo14.com">info@rlugo14.com</a>
            <p>|</p>
            <p>🌎</p>
            <a href="https://rlugo14.com">rlugo14.com</a>
        </div>
      </div>
    </div>
  </div>
</html>
